@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/Raleway-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Raleway/Raleway-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Raleway/Raleway-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Raleway/Raleway-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Thin.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/Raleway-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/Raleway-Thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Raleway/Raleway-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Raleway/Raleway-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Raleway/Raleway-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/Raleway-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Raleway/Raleway-ExtraLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Raleway/Raleway-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Raleway/Raleway-ExtraLight.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/Raleway-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Raleway/Raleway-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Raleway/Raleway-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Raleway/Raleway-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Medium.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/Raleway-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Raleway/Raleway-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Raleway/Raleway-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Raleway/Raleway-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Raleway/Raleway-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Raleway/Raleway-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Raleway/Raleway-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/Raleway-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Raleway/Raleway-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Raleway/Raleway-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Raleway/Raleway-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Raleway/Raleway-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Raleway/Raleway-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Raleway/Raleway-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Heavy.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/Raleway-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/Raleway-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Raleway/Raleway-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Raleway/Raleway-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Raleway/Raleway-Heavy.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 900;
}

body {
    font-family: 'Raleway';
    overflow-x: hidden;
}

.content {
    width: 100%;
}

/* Custom Button */
.btn-lh {
    border-radius: 0;
    background-color: #F44336;
    color: #fff;
}

.btn-lh:hover {
    background-color: #E53935;
    color: #fff;
}

/* Twitter Button */
.btn-tw {
    border-radius: 0;
    background-color: #55acee;
    border-color: #55acee;
    color: #fff;
}

.btn-tw:hover {
    background-color: #318CD2;
    border-color: #318CD2;
    color: #fff;
}

/* Transparent Navbar */

.navbar {
   background-color: rgba(0, 0, 0, 0);
   background: rgba(0, 0, 0, 0);
   border: none;
   color: #fff;
   z-index: 100;
   margin-bottom: 0;
   border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 500;
    font-size: .9em;
    text-transform: uppercase;
    
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    text-decoration: underline;
}


.navbar-default .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    /*width: 225px;
    background: url('../images/linkhunt-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: 9999px;*/
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-inner {
    background:transparent;
}

.navbar-right .dropdown-menu {
    right: 15px;
}

.navbar.opaque { 
    background-color: rgba(255,255,255,1); 
    background: rgba(255,255,255,1); 
    transition: background-color 1s ease 0s;
    box-shadow: 0px 0px 4px #969696;      
}

.navbar.opaque .navbar-brand {
    color: #F44336;
    transition: color 1s ease 0s;
}

.navbar.opaque .navbar-nav > li > a {
    color: #F44336;
    transition: color 1s ease 0s;    
}

.navbar.opaque .navbar-nav > li > a:active {
    text-decoration: underline;
}

/* The about section */

.main-banner {
    width: 100%;
    height: 650px;
    background: url("../images/banner.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -70px;
    padding: 0;
}

.main-banner-content {
    height: 300px;
    width: 75%;
    margin: auto;
    padding-top: 250px;
    text-align: center;

}

.main-banner-content h1 {
    font-size: 3em;
    text-transform: uppercase;
    color: #fff;
    margin: 20px auto;
    font-weight: 700;
}

.main-banner-content h2 {
    font-size: 2em;
    color: #fff;
    margin: 20px auto;
    font-weight: 300;
}

/* The about section */

.main-about {
    width: 100%;
    padding: 30px auto;
}

.main-about-content {
    min-height: 300px;
    width: 75%;
    margin: auto;
}

.main-about-content h2 {
    font-weight: 500;
    font-size: 2.5em;
    margin: 50px 0px 30px 0px;
}

.main-about-content p {
    font-size: 1.5em;
    text-align: center;
}

.margin-top-100 {
    margin-top: 100px;
}

/* Twitter stream page */
ul.tweet-stream {
    list-style: none;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #ececec;
}

section.twitter-stream {
    width: 100%;
    font-family: 'Raleway'
}

.twitstream {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ececec;
}

.new-tweets-bar {
    cursor: pointer;
}

.timeline-link {
    cursor: pointer;
}

.search-result-header {
    font-size: 1.2em;
}

.new-tweets-container {
    text-align: center;
}

#article-preview {
    padding: 20px;
}

h2.article-preview-title {
    margin-top: 50px;
}

.article-preview-body {
  height: 400px;
  overflow-y: scroll;
}

.username {
    font-size: 1.2em;
    font-weight: 700;
}

.handle {
    font-size: 1.2em;
}

.metadata {
    margin-top: 5px;
    margin-bottom: 10px
}