@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway/Raleway-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/Raleway-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway/Raleway-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway/Raleway-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
​
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway/Raleway-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway/Raleway-Thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/Raleway-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway/Raleway-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway/Raleway-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 100;
}
​
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway/Raleway-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/Raleway-ExtraLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway/Raleway-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway/Raleway-ExtraLight.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
​
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway/Raleway-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/Raleway-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway/Raleway-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway/Raleway-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
}
​
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/Raleway-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway/Raleway-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway/Raleway-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 500;
}
​
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway/Raleway-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway/Raleway-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 600;
}
​
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/Raleway-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway/Raleway-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway/Raleway-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}
​
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway/Raleway-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway/Raleway-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 800;
}
​
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway/Raleway-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway/Raleway-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/Raleway-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway/Raleway-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway/Raleway-Heavy.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 900;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color: #FFFFFF;
    font-size: 10px;
}

button {
    outline: none;
}

.lh {
    color: #F44336;
}

.lh-secondary {
    color: #03A9F4;
}

.home-banner {
    background-color: #1B1B25;
    width: 100%;
    height: 100vh;
    position: relative;
}

.banner-content {
    position: absolute;
    width: 75%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

h1.brand-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 10rem;
    text-transform: uppercase;
}

h2.brand-desc {
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 40px auto;
}

.btn-lh {
    border: 2px solid #F44336;
    color: #F44336;
    background: transparent;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: .3rem;
    word-spacing: .5rem;
}

.btn-lh:hover {
    color: #1B1B25;
    background-color: #F44336;
}

.flash-message {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    background: transparent;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    font-size: 2rem;
    padding: 20px;
}

.nav-container {
    border-bottom: 1px solid #e1e8ed;
    height: 60px;
    z-index: 100;
    background-color: #ededee;
}

.search-container {
    height: 100%;;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
}

.search-input {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 37px;
    height: 50px;
    width: 220px;
    font-size: 22px;
    font-weight: 100;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-left: 32px;
    border: 1px;
    /*#e1e8ed;*/
    border-radius: 30px;
    outline: none;
    transition: width 1s;
    -webkit-transition: width 1s;
    z-index: 200;
    /*-moz-transition: width 1s ease;*/
    /*-o-transition: width 1s ease;*/
    /*-ms-transition: width 1s ease;*/
}

.search-input:focus {
    width: 600px;
}

.search-btn {
    color: #66757f;
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #ededee;
    border-bottom-left-radius: 37px;
    border-top-left-radius: 37px;
    width: 25px;
    height: 45px;
    left: 24px;
    top: 0;
    outline: none;
    z-index:210;
}

.logo-container {
    background-color: inherit;
    margin-right: 20px;
}

.logo {
    color: #5B6C73;
    font-size: xx-large;
    font-family: 'Oregano', cursive;
    font-style: italic;
    margin-top: 0 !important;
}

article.content {
    padding: 0;
    margin: 0;
    
}

.rows {
    padding-left: 0;
    padding-right: 0;
}

.twitstream {
    border: thin solid #e1e8ed;
    border-radius: 12px;
    min-width: 300px;
    padding: 0px;
    display: none;
}

.twitstream-contents {
    margin: 5px;
}

.search-title-container {
    border-bottom: 1px solid #e1e8ed;
    margin: 0;
}

.search-title {
    margin-left: 2px;
    font-weight: lighter;
    line-height: 20px;
    margin-top: 5px;
}

.twitstream-contents ul {
    padding: 0;
    margin-bottom: 25px;
}

.tweet {
    list-style: none outside;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e1e8ed;
    cursor: pointer;
}

.twitstream li:hover {
    background: #f8f8fa;
}

.tweet-header {
    list-style-positon: outside;
    text-align: start;
    line-height: 18px;
}

.tweetcontent {
    margin-left: 5px;
    margin-top: 5px;
}

.username {
    font-weight: bold;
    font-size: 14px;
    margin-left: 0px;
}

.handle {
    color: #b1bbc3;
    font-size: 13px;
}

.tweettext {
    line-height: 18px;
    font-size: 14px;
    margin: 0;
}

.metadata {
    color: #8899a6;
    line-height: 25px;
    font-size: 13px;
}

.avatar {
    display: block;
    float: left;
    margin-top: 3px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    list-style-positon: outside;
    text-align: start;
    line-height: 18px;
}

.endelement {
    list-style: none outside;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 13px;
    font-style: italic;
    color: #ccd6dd;
    text-align: left;
    font-weight: 100;
    margin: 5px;
}

.external-article {
    display: none;
    border: thin solid #e1e8ed;
    border-radius: 12px;
    height: 100%;
    min-height: 40px;
    padding: 5px 10px;
}

.twitstream-error-msg {
    display: none;
    z-index: 2000;
    margin-top: 20px;
    margin-bottom: -5px;
    cursor: pointer;
}

.new-tweets-container {
    display: none;
    padding: 7px;
}

.new-tweets-container:hover {
    background: #f8f8fa;
}